/*HeaderLinks*/
#header-container {
  background-color: #27296d;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  margin-right: 0px !important;
}

@media(min-width: 992px) {
  #header-links-container {
    width: 45%;
    margin-left: auto;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media(max-width: 991px) {
  #header-links-container {
    width: 80%;
    margin-left: auto;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

/*HeaderHero*/
#hero-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(176deg, #27296d 70%, white calc(70% + 2px));
  padding-top: 1rem;
  margin-right: 0px;
}

@media(min-width: 992px) {
  #hero-image-container {
    display: flex;
    justify-content: end;
    padding-right: 0px;
  }

  #hero-image {
    margin-bottom: 0rem;
    width: 30rem;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}

@media(max-width: 991px) {
  #hero-image-container {
    display: flex;
    justify-content: center;
    padding-right: 0px;
    margin-bottom: 1rem;
  }

  #hero-image {
    margin-bottom: 0rem;
    width: 30rem;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}

@media(max-width: 500px) {
  #hero-image-container {
    display: flex;
    justify-content: center;
    padding-right: 0px;
    margin-bottom: 1rem;
  }

  #hero-image {
    margin-bottom: 0rem;
    width: 20rem;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}

#hero-text-container {
  padding: 2rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #27296d;
  text-align: center;
}

#hero-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: .5rem;
}

#hero-subtitle {
  margin-top: 1rem;
  font-size: 2rem;
}

/*Projects*/
#project-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media(min-width: 700px) {
  .project-card {
    width: 40rem !important;
    color: #27296d !important;
    margin-bottom: 1rem;
  }
}

@media(max-width: 699px) {
  .project-card {
    width: 30rem !important;
    color: #27296d !important;
    margin-bottom: 1rem;
  }
}

@media(max-width: 450px) {
  .project-card {
    width: 20rem !important;
    color: #27296d !important;
    margin-bottom: 1rem;
  }
}

.project-card-title {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

#skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill-container {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  margin-top: .5rem;
}

.tech-image {
  width: 2rem !important;
}

.project-card-links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.project-card-link {
  color: #27296d !important;
  text-decoration: underline;
  /* font-weight: bold; */
  font-size: 1.25rem;
}

.project-card-link:hover {
  color:  rgb(211, 150, 207) !important;
}

/*About*/
#about-section-container {
  margin-top: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* border-top: double 10px rgb(175, 125, 172); */
  border-top: double 10px rgb(211, 150, 207);
  padding-top: 2rem;
}

.about-text {
  color: #27296d;
  margin-bottom: 1rem;
}

/*Projects*/
#project-section-container {
  margin-top: 5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*Skills*/
.skills-icon {
  width: 5rem;
}

#skills-icons-row {
  text-align: center;
}

/*All Componenets*/
#contact {
  /* background-color: rgb(175, 125, 172); */
  background-color: #27296d;
  padding-top: .25rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}

#contact-section-container {
  margin-top: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.component-title {
  color: #27296d;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

@media(min-width: 500px) {
  #contact-info-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media(max-width: 499px) {
  #contact-info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.contact-form-text {
  color: #27296d !important;
  font-weight: bold;
}

#contact-button {
  /* background-color: #27296d; */
  /* background-color: rgb(175, 125, 172); */
  background-color: rgb(211, 150, 207);
  font-weight: bold;
  /* color: white; */
  color: #27296d;
  padding: .75rem;
  font-size: 1.25rem;
  border-radius: 10px;
}

#contact-button:hover {
  background-color: rgb(243, 193, 240);
}

/*Footer*/
#footer-container {
  /* background-color: rgb(175, 125, 172); */
  background-color: rgb(211, 150, 207);
  /* background-color: #27296d; */
  padding: 1rem;
  margin-right: 0px; 
}

#footer-text {
  /* color: white; */
  color: #27296d;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}